.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
}

.header > h1{
  color: white;
}

.cart {
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}

.cart-popup {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-popup h2 {
  margin-top: 0;
}

.cart-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-popup li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.cart-popup button {
  padding: 5px 10px;
  cursor: pointer;
}

.cart-total {
  font-weight: bold;
  margin-top: 10px;
}
